.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom right, rgb(48, 105, 211), rgb(220, 244, 133));

}

.card,
h1,
h5 {
    color: #fff;
}

label {
    color: #fff;
}